<nav class="vt-nav">
  <div class="vt-nav__left">
    <figure class="vt-nav__logo">
      <img src="/images/earth-logo.png" alt="VolunTrip Logo" width="35">
    </figure>
  </div>

  <div class="vt-nav__center">
    <a href="/welcome" class="vt-nav__link">Home</a>
    <a href="/explore" class="vt-nav__link">Explore</a>
    <a href="/about" class="vt-nav__link">About Us</a>
  </div>

  <div class="vt-nav__right">
    <a href="/" class="vt-nav__logout">
      <i class="bi bi-door-open"></i> Logout
    </a>
  </div>
</nav>
