<%- include('includes/head') %>

<link rel="stylesheet" href="/css/welcome.css">


<title>About VolunTrip</title>
</head>

<body>

<%- include('includes/menu') %>

<main class="container py-5">

    <h1>About VolunTrip</h1>
    <p>VolunTrip connects volunteers with impactful global projects.</p>
    <p>Our mission is to make volunteering accessible and meaningful for everyone.</p>
    <p>Join us in making a difference around the world!</p>

</main>

<%- include('includes/end') %>
