<%- include('includes/head') %>


<title>Explore Activities</title>
</head>

<body>

<%- include('includes/menu') %>

    <h1>Explore Activities</h1>

    <ul>
        <li>Teaching English in Thailand</li>
        <li><a href="/activities/1">Activity</a></li>
        <li>Community Farming in Nepal</li>
        <li><a href="/activities/2">Activity</a></li>
        <li>Animal Rescue in Costa Rica</li>
        <li><a href="/activities/3">Activity</a></li>
    </ul>

    <!-- will use /activities to fetch all activities -->

<%- include('includes/end') %>