<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explore Activities</title>
</head>
<body>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/activities">Explore</a></li>
    </ul>

    <h1>Explore Activities</h1>

    <ul>
        <li><a href="/activities/1">Teaching English in Thailand</a></li>
        <li><a href="/activities/2">Community Farming in Nepal</a></li>
        <li><a href="/activities/3">Animal Rescue in Costa Rica</a></li>
    </ul>

</body>
</html>
