<%- include('includes/starting-pages') %>

  <title>VolunTrip</title>
</head>

<body class="vt page-index">
  <div class="vt-bg"></div>

  <main class="vt-wrap">
    <div class="container">
      <div class="vt-center">

       

        <div class="vt-panel">
          <img src="/images/logo.png" alt="VolunTrip Logo" class="vt-logo img-fluid">
          <a href="/login" class="btn vt-btn vt-btn--dark btn-block">Login</a>
          <a href="/register" class="btn vt-btn vt-btn--light btn-block mt-3">Sign up</a>
        </div>

      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
